{% extends "index.html" %}
{% load crispy_forms_tags %}
{% include static %}

{% block content %}
    <div>
        <form method="POST" class="create-form">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <p>
                <button type="submit" value="Create" class="btn btn-success">
                    Create
                </button>
            </p>
        </form>
    </div>
{% endblock %}