{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <p>
                <button type="submit" value="Delete" class="btn btn-warning">
                    Are you sure you want to delete "{{ object.department }}
                    {{ object.course }}{{ object.letter }} "?
                </button>
            </p>
        </form>
    </div>
{% endblock %}