{% extends "index.html" %}

{% block content %}
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a href="{% url 'groups:create_group' %}"
                class="btn btn-sm btn-success border-white ">Create new group</a><br><br>
            {% endif %}
        {% else %}
                <p class="lead">Access denied!</p>
                <p class="lead">Pls, Login to view current page!</p>
            <p class="lead">
                <a href="{% url "login" %}"
                   class="btn btn-lg btn-warning fw-normal border-white bg-white">Login</a>
        {% endif %}

    <br>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            {% if user.is_authenticated %}
            <th scope="col">#</th>
            <th scope="col">Department</th>
            <th scope="col">Course</th>
            <th scope="col">Letter</th>
            <th scope="col">Classroom</th>

            {% if user.is_staff %}

            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            {% endif %}
            {% endif %}


        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            {% if user.is_authenticated %}
                {% if user.is_staff %}
            <tr>
                <th scope="row">{{ group.id }}</th>
                <td>{{ group.department }}</td>
                <td>{{ group.course }}</td>
                <td>{{ group.letter }}</td>
                <td>{{ group.classroom}}</td>
                <th scope="col"><a type="button" class="btn btn-warning"
                href="{% url 'groups:update_group' group.id  %}"> Edit</a></th>
            <th scope="col"><a type="button" class="btn btn-danger"
                href="{% url 'groups:delete_group' group.id  %}">Delete</a></th>
                {% else %}
            <tr>
                <th scope="row">{{ group.id }}</th>
                <td>{{ group.department }}</td>
                <td>{{ group.course }}</td>
                <td>{{ group.letter }}</td>
                <td>{{ group.classroom}}</td>
                {% endif %}
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
