{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <p>
                <h4>{{ object.profile.first_name }} {{ object.profile.last_name }}</h4>
                <h5>Age: {{ object.profile.age }} year(s)</h5>
                <button type="submit" value="Delete" class="btn btn-warning">
                    Are you sure you want to delete "{{ object.profile.first_name }} {{ object.profile.last_name }}"?
                </button>
            </p>
        </form>
    </div>
{% endblock %}
