{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="btn-custom ">

                {% if not profile.user.social_auth.exists %}
                <img src="{{ profile.photo.url }}" height="125" width="125" class="rounded-circle" />
                {% elif  profile.user.social_auth.exists %}
                <img src="{{ profile.photo }}" height="125" width="125" class="rounded-circle" />
                {% endif %}

            </button> <span class="name mt-3">{{ profile.full_name | upper }}</span>
            <span class="idd">{{ profile.user.position }}</span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                <span class="idd1">{{ profile.user.email }}</span>
                <span><i class="fa fa-copy"></i></span>
            </div>
            {% if user.is_student %}
            <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                <span class="number"> {{ profile.grade }} / 100 <span class="follow">Points</span>
                </span>
            </div>
            {% endif %}
            <div class=" d-flex mt-2">
           <span class="idd1">@{{ profile.user.username }}</span>
        </div>
            <div class="text mt-3">
            <span>{{ profile.full_name |title }} is a {{ profile.user.position }} in this beautiful Learning LMS system .<br>
                <br> {{ user.profile.job_title }}  </span>
        </div> <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
            <span><i class="fa fa-twitter"></i></span>
            <span><i class="fa fa-facebook-f"></i></span>
            <span><i class="fa fa-instagram"></i></span>
            <span><i class="fa fa-linkedin"></i></span>
        </div> <div class=" px-2 rounded mt-4 date ">
            <span class="join">Joined: {{ user.date_joined }}</span>
        </div>

        </div>
    </div>
</div>

{% endblock %}