{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
     <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Experience</th>
            </tr>
            </thead>
                <tbody style="color:black; font-size:30px;">
                    <td >{{ object.first_name }}</td>
                    <td>{{ object.last_name }}</td>
                    <td>{{ object.experience }} year(s)</td>
                </tbody>
     </table>
 <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Department</th>
            <th scope="col">Course</th>
            <th scope="col">Letter</th>
            <th scope="col">Classroom</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>

        {% for group in object.group.all %}
            <tr>
                <th scope="row">{{ group.id }}</th>
                <td>{{ group.department }}</td>
                <td>{{ group.course }}</td>
                <td>{{ group.letter }}</td>
                <td>{{ group.classroom}}</td>
                <th scope="col"><a type="button" class="btn btn-warning"
                href="{% url 'groups:update_group' group.id  %}"> Edit</a></th>
            <th scope="col"><a type="button" class="btn btn-danger"
                href="{% url 'groups:delete_group' group.id  %}">Delete</a></th>
            </tr>
        {% endfor %}
    </table>

{% endblock %}