{% extends "index.html" %}
{#    {% if user.is_authenticated %}#}
{% block content %}
    {% if user.is_staff %}
    <a href="{% url 'teachers:create_teacher' %}"
       class="btn btn-sm btn-success border-white ">Create new teacher's profile</a><br><br>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Birthdate</th>
            <th scope="col">Age</th>
            <th scope="col">Experience</th>
            <th scope="col">Groups</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <th scope="row">{{ teacher.id }}</th>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.birthday }}</td>
                {% if teacher.birthday %}
                    <td>{{ teacher.age }}</td>
                {% else %}
                    <td>Undefined age</td>
                {% endif %}
               <td>{{ teacher.experience }}</td>
                <th scope="col"><a type="button" class="btn btn-success"
                href="{% url 'teachers:show_groups' teacher.id  %}">Show groups</a></th>
                <th scope="col"><a type="button" class="btn btn-warning"
                href="{% url 'teachers:update_teacher' teacher.id  %}"> Edit</a></th>
                <th scope="col"><a type="button" class="btn btn-danger"
                href="{% url 'teachers:delete_teacher' teacher.id  %}">Delete</a></th>
            </tr>

        {% endfor %}
                {% else %}
         <p class="lead">Access denied!</p>
                <p class="lead">Pls, Login to view current page!</p>
                <p class="lead">
                <a href="{% url "login" %}"
                   class="btn btn-lg btn-warning fw-normal border-white bg-white">Login</a>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
