{% extends "index.html" %}

{% block content %}

    {% if user.is_staff %}
{#        http://127.0.0.1:8000/admin/students/customuser/add/#}
        <a href="{% url 'admin:students_customuser_add' %}"
           class="btn btn-sm btn-success border-white ">Create new student's profile</a><br><br>
    {% endif %}

    <table class="table table-dark table-striped" >
        <thead>
        <tr>

            {% if user.is_authenticated %}
                <th scope="col">Avatar</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Age</th>
                {% if user.is_staff %}
                <th scope="col">CV</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                {% endif %}
            {% else %}
                <p class="lead">Access denied!</p>
                <p class="lead">Pls, Login to view current page!</p>
                <p class="lead">
                <a href="{% url "login" %}"
                   class="btn btn-lg btn-warning fw-normal border-white bg-white">Login</a>
            {% endif %}
        </tr>
        </thead>

        <tbody style="vertical-align: baseline">
        {% for student in students %}

    {% if user.is_authenticated %}
{#    {% if user.is_staff %}#}
            <tr>

                {% if student.profile.photo %}
                    <th scope="row"><a type="button" href="{% url "profile" student.username %}">
                        <img src="{{ student.profile.photo.url }}"  alt="Image" width="50" height="50" class="rounded-circle" /></a>
                    </th>
                {% else %}<td>N/A</td>{% endif %}
                <td>{{ student.profile.first_name }}</td>
                <td>{{ student.profile.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.profile.birthdate }}</td>
                    {% if student.profile.birthdate %}
                        <td>{{ student.profile.age }}</td>{% else %}<td>Undefined age</td>{% endif %}
            {% if user.is_staff %}
            <td>
                    {% if student.cv_file %}<a href="{% url "students:download_pdf_file" student.id  %}"
                                               class="btn btn-primary">
                        <i class="fa fa-download"></i>Download CV</a>
                    {% else %}<h6>No CV to download</h6>{% endif %}

            </td>
                <th scope="col"><a type="button" class="btn btn-warning"
                                   href="{% url 'students:update_student' student.id %}"> Edit</a>
                </th>
                <th scope="col"><a type="button" class="btn btn-danger"
                                   href="{% url 'students:delete_student' student.id %}">Delete</a>
                </th>
              {% endif %}
        {% endif %}


        {% endfor %}
        </tbody>
    </table>
{% endblock %}
